{% extends "master.html" %}

{% block content %}
<div id="content">
	<div class="fifteen columns"><h3>Worldplay is a balancing act</h3></div>
	<div class="one column center"><i class="fa fa-globe fa-3x animated rollIn"></i></div>
	<div class="sixteen columns"><hr></div>
	<div class="two-thirds column">
		<p>With Worldplay you are given the opportunity to build a city to your design.</p>
		<p>You will be asked a series of questions that effect the properties of your city.</p>
		<p>The outcome may surprise you.</p>
	</div>
	<div class="one-third column">
		<p><em>Name your city to start</em></p>
		<p id="nameInput"><input type="text" id="cityName" placeholder="City Name" class="wide"></p>
		<p class="center"><button id="beginButton" class="flatButton editor wide">Begin</button></p>
	</div>
</div>

{% endblock %}